<div class="statsLine">
    <div>@Label</div>
    <div>@Value</div>
    <hr />
</div>

@code
{
[Parameter]
    public string Label { get; set; }

[Parameter]
    public int Value { get; set; }
}
